:root {
  --main-color: #0f0f82;
  --shade1: #4848f4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 64px;
  text-align: center;
  margin-bottom: 0;
  color: white;
  text-shadow: -1px 1px 4px var(--main-color),
               1px 1px 4px var(--main-color),
               1px -1px 4px var(--main-color),
               -1px -1px 4px var(--main-color);
}

.subtitle {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  color: var(--main-color);
}

.heading {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 48px;
  color: var(--main-color);
  width: 256px;
  margin: 32px auto 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}

.numInput {
  width: 48px;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(192,192,192); /* Fallback */
  background-color: rgb(0,0,0,0.25);
}

.modal {
  display: none;
  z-index: 100;
  position: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  max-width: 95vw;
  max-height: 95vh;
  padding: 16px;
  overflow: auto;

  border: 1px solid black;
  background-color: white;
}

.modal-content {
  max-height: 256px;
  overflow: auto;

  border: 1px solid gray;
  padding: 16px;
  margin: 16px 0;
}

.option {
  line-height: 2.5;
}

#main-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 315px;

  margin: 16px auto;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: var(--main-color);
}

.main-button {
  background-color: white;
  color: var(--main-color);
  width: 100px;
  font-weight: bold;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.main-button:hover {
  background-color: var(--shade1);
  color: white;
}

.main-button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

#message {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  color: var(--main-color);
  text-align: center;
  font-variant-caps: small-caps;
}

.game-icon {
  font-size: 36px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  margin: 0 16px;
}

.game-icon:hover {
  background-color: var(--shade1);
  color: white;
}

/* .okay { */
/*   float: right; */
/* } */

table {
  border-collapse: collapse;
  border-style: hidden;
}

/* .board { */
/*   background-color: #007700; */
/*   color: white; */
/*   font-weight: bold; */
/* } */

/* .slot { */
/*   border: 2px solid white; */
/* } */

table.listing th, table.listing td {
  border: 1px solid #dddddd;
  padding: 4px;
}

.guess {
  width: 128px;
}
