body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.numInput {
  width: 48px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 92px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(192,192,192);
  background-color: rgb(0,0,0,0.25);
}

.dialog {
  position: relative;
  background-color: white;
  border: 1px solid black;
  padding: 32px;
  width: 512px;
}

.optionsContainer {
  max-height: 196px;
  border: 1px solid rgb(192,192,192);
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  overflow: auto;
}

/* .okay { */
/*   float: right; */
/* } */

table {
  border-collapse: collapse;
  border-style: hidden;
}

/* .board { */
/*   background-color: #007700; */
/*   color: white; */
/*   font-weight: bold; */
/* } */

/* .slot { */
/*   border: 2px solid white; */
/* } */

table.listing th, table.listing td {
  border: 1px solid #dddddd;
  padding: 4px;
}

.guess {
  width: 128px;
}
